<!DOCTYPE html>
{% load static%}
{% load crispy_forms_tags %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MIO</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'analysis/vendor/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'analysis/css/scrolling-nav.css' %}"  rel="stylesheet">

  <!-- Multiple Select Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.min.css">

  {% block css %}
  {% endblock css %}

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"  id="mainNav">
      <div class="container">
              <!-- Logo -->
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">MIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


            <!--  Menu -->
        <div class="collapse navbar-collapse" id="navbarResponsive">

                <!--  Analysis Menu -->
            <ul class="nav navbar-nav navbar-left">
                {% if session_detail%}
                  <!-- https://bootstrap-menu.com/demos/basic-hover.html -->
                    <ul class="navbar-nav">
                        <!--<li class="nav-item active"> <a class="nav-link" href="{% url 'index'%}">Home </a> </li>-->
                          <li class="nav-item dropdown">
                              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Correlation Analysis  </a>
                              <ul class="dropdown-menu">
                                  </li><a href="{% url 'workflow_correlation' session_slug=session_detail.identifier %}" class="dropdown-item"> miRNA/Gene Correlation</a></li>
                                  <li><a href="{% url 'workflow_genesetscore' session_slug=session_detail.identifier %}" class="dropdown-item"> miRNA/Geneset Correlation</a></li>
                              </ul>
                          </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Target Prediction  </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'workflow_target' session_slug=session_detail.identifier %}" class="dropdown-item"> miRNA/Gene Target Prediction</a></li>
                                <li><a href="{% url 'workflow_synthetic' session_slug=session_detail.identifier %}" class="dropdown-item"> miRNA Synthetic Lethal Prediction</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Survival Analysis  </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'survival_formkm' session_slug=session_detail.identifier %}" class="dropdown-item"> Kaplan Meier Plot</a></li>
                                  <li><a href="{% url 'workflow_survival' session_slug=session_detail.identifier %}" class="dropdown-item">Feature Selection</a></li>
                                  <li><a href="{% url 'workflow_survival_ratio' session_slug=session_detail.identifier %}" class="dropdown-item">miRNA/Gene Ratio Feature Selection</a></li>
                             </ul>
                        </li>


                        <li class="nav-item dropdown">
                              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Classification Analysis  </a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% url 'workflow_classification' session_slug=session_detail.identifier %}" class="dropdown-item">Classification Analysis</a></li>
                                  <li><a href="{% url 'workflow_feature' session_slug=session_detail.identifier %}" class="dropdown-item">Feature Selection</a></li>
                                  <li><a href="{% url 'workflow_feature_ratio' session_slug=session_detail.identifier %}" class="dropdown-item">miRNA/Gene Ratio Feature Selection</a></li>

                              </ul>
                          </li>
                    </ul>
                {%endif%}      
            </ul> <!--  End Analysis Menu -->

            <div class="navbar-collapse collapse">
                <!--Scroll Menu-->
              <ul class="nav navbar-nav navbar-center">
                {% block menu_nav %}
                {% endblock menu_nav %}
              </ul><!--End Scroll Menu-->
            </div>

            <!-- User Menu-->
            <ul class="nav navbar-nav navbar-rigth">
                <!-- https://bootstrap-menu.com/demos/basic-hover.html -->
                  <ul class="navbar-nav">
                    {% if user.is_anonymous %}
                      <li class="nav-item active"> <a class="nav-link" href="{%url 'account_login'%}"> Log in </a> </li>
                      <li class="nav-item active"> <a class="nav-link" href="{%url 'account_signup'%}"> Sign up </a> </li>

                    {% elif user.is_authenticated %}
                      <li class="nav-item dropdown">
                          <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  {{user.get_username}}   </a>
                          <ul class="dropdown-menu">
                            {% if user.is_temporal %}
                              <li><a href="{% url 'temporal_update' user_slug=user.identifier%}" class="dropdown-item"> Make Permanent</a></li>

                            {% else %}
                              <li><a href="{% url 'user_update' user_slug=user.identifier%}" class="dropdown-item"> Profile</a></li>
                              <li><a href="{%url 'password_change'%}"  class="dropdown-item"> Change Password</a></li>
                            {% endif %}
                              <li><a href="{%url 'account_logout'%}" class="dropdown-item"> Logout</a></li>
                              <li><a href="{% url 'data_detail' user_slug=user.identifier%}" class="dropdown-item"> Upload Data</a></li>
                              <li><a href="{% url 'download_all' %}" class="dropdown-item"> Download All User Data</a></li>
                          </ul>
                      </li>
                      <li class="nav-item active"> <a class="nav-link" href="{% url 'analysis'%}"> Sessions </a> </li>
                    {%endif%}

                    <!-- Always-->
                    <li class="nav-item dropdown">
                      <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Help  </a>
                      <ul class="dropdown-menu">
                        <li class="nav-item active"> <a class="dropdown-item" href="{% static 'media/MIO_Manual.pdf'%}" target="_blank"> Manual </a> </li>
                        <li><a href="{% url 'metadata_detail' pk=1 %}" class="dropdown-item"> Example dataset</a></li>
                      </ul>
                    </li>
                    <li class="nav-item active"> <a class="nav-link" href="{% url 'dataset_list'%}"> Public Datasets </a> </li>
                    <li class="nav-item active"> <a class="nav-link" href="{% url 'geneset_list'%}"> Public Genesets </a> </li>
                    <li class="nav-item active"> <a class="nav-link" href="{% url 'mirnaset_list'%}"> Public MiRNAsets </a> </li>
                  </ul>
            </ul><!--End User Menu-->

        </div> <!-- End Menu -->
      </div>
    </nav>
  
  </body>

  <div id="body_box" style="overflow: auto;">
    
      {% block header %}

      {% endblock header %}
    
      {% if messages %}
      <div>
          <ul>
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{message | safe}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
          </div>
          {% endfor %}
          </ul>
      </div>  
    {% endif %}

      {% block body %}
  
      {% endblock body %}

  </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">MIO &copy;Institute of Bioinformatics</p>
        <p class="m-0 text-center text-white">Medical University of Innsbruck  | <a href="{% url 'privacy_en' %}">Privacy</a> | <a href="{% url 'impressum' %}">Imprint</a> | <a href="{% url 'reference' %}"> References</a></p>
        <p></p>

      </div>
      <!-- /.container -->
    </footer>
  
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'analysis/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'analysis/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'analysis/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'analysis/js/scrolling-nav.js'%}"></script>

    <!-- Custom JavaScript for AutoFelect Chosen -->

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.min.js"></script>
  <script type="text/javascript">

    $(".chosen").chosen({width: "100%"});
  </script>

  {% block js %}
  {% endblock js %}
  
  </html>
  
