{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}

{% block css %}

{% endblock css %}

{% block body %}

<section id="about">
   <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          {% if messages %}
          <div>
              <ul>
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{message | safe}}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
              {% endfor %}
              </ul>
          </div>  
        {% endif %}
        
          <h2>{{title}}</h2>
          <hr class="my-4">

          <div class="container">
            <h3>Run examples dataset</h3><br>
          <table style="width:100%">
            <tr>
              <td align="center">
                <input type="button" class="btn btn-outline-primary" onclick='run_example("TCGA-CRC", "IFNG [Higgs]","TCGA-CRC-TOP25-MSI-FEATURE","MSI","miRNAs")' value="Example 1"/>
                <input type="button" class="btn btn-outline-secondary" onclick='run_example("TCGA-OV", "Antitumor cytokines [Bagaev]","TCGA-OV-IMR-TOP-25MIR","IMR","miRNAs" )' value="Example 2"/>
                <input type="button" class="btn btn-outline-success" onclick='run_example("TCGA-COAD", "Checkpoint molecules [Bagaev]","TCGA-LUAD-VITAL_STATUS","event","miRNAs")' value="Example 3"/>
              </td> 
            </tr>
            <tr><td style="padding: 10px"></td></tr>
          </table>
      </div>



          <form method="post" enctype="multipart/form-data">
             {% csrf_token %}

             {{form.topk | as_crispy_field}}
             {{form.k | as_crispy_field}}
             {{form.label | as_crispy_field}}
             {{form.feature | as_crispy_field}}
             {{form.group | as_crispy_field}}

              <p> Select datasetet to analyze </p>
              <select class="chosen" style="width:350px;" id="publicDataset", name="publicDataset"> 
                {% for value,key in form.publicDataset.field.choices %}
                    <option name="publicDataset" value="{{value}}">{{key}}</option>
                {%endfor%}
              </select>


            <p>
              <div id="filter_sample" name = "filter_sample"  class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name = "filter_sample" id="filter_sample_checkbox" value=True>
                <label class="form-check-label" for="filter_sample_checkbox">Filter samples to get features</label>
              </div>
            </p>
            <div id="filtersample"  style="display:none">
              {{form.group_sample | as_crispy_field}}
              {{form.filter_group| as_crispy_field}}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit Analysis</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>      
{% endblock body %}

{% block js %}

<script type="text/javascript">


    /**
     * Select additional options in a multi select chosen
     * @param $select jQuery selector for a multi select
     * @param values array with strings
     */

     
  function selectAdditionalChosenOptions($select, values) {
        var selected = $select.val() || [];                 //get current options
        selected = selected.concat(values);                 //merge with new options
        selected = $.grep(selected, function(el, index) {
            return index === $.inArray(el, selected);       //make options unique
        });
        $select.val(null);                                  //delete current options
        $select.val(selected);                              //add new options
        $select.trigger('chosen:updated');
    }
function setSelectedValue(selectObj, valueToSet) {
    for (var i = 0; i < selectObj.options.length; i++) {
        console.log(selectObj.options[i].text);
        if (selectObj.options[i].text == valueToSet) {
            selectObj.options[i].selected = true;
            console.log("Option selected");
            return;
        }
    }
}

function objClick(selectObj, valueToSet) {
  selectObj.addEventListener('change', e => {
    console.log('clicked');
  });

  console.log('Using click()');
  selectObj.click();

  console.log('Using dispatchEvent');
  selectObj.dispatchEvent(new Event('change'));
}

function example(dataset, geneset, label, filter_col, feature){
    // Define select Boxes
    var InputTop = document.getElementById("id_topk"); 
    var InputK = document.getElementById("id_k"); 
    var InputGroup = document.getElementById("id_group"); 
    var SelectDataset = document.getElementById("publicDataset");
    var SelectFeature= document.getElementById("id_feature");
    var Label = document.getElementById("id_label");


    //Set Topk
    InputTop.value = 25;
    //Set K-Fold
    InputK.value = 3;
    //Set selected label
    Label.value = label;
    //Set selected label
    InputGroup.value = filter_col;
    //Set selected Dataset
    setSelectedValue(SelectDataset, dataset);
    setSelectedValue(SelectFeature, feature);
    objClick(SelectDataset);
    selectAdditionalChosenOptions($('#publicDataset'), ['Thailand']);

    if (checkboxfilter.checked == false){
      objClick(checkboxfilter);

    }

}

function run_example(dataset, geneset, tag, filter_col, feature){
  example(dataset, geneset, tag, filter_col, feature);
}
</script>

<script type="text/javascript">
  var checkboxfilter = document.getElementById("filter_sample_checkbox");
  var checkboxpair = document.getElementById("filter_pair_checkbox");

  
  checkboxfilter.addEventListener('change', function() {
    if (this.checked) {
      console.log("Checkbox is checked..");
      document.getElementById("filtersample").style = "display:true";

    } else {
      console.log("Checkbox is not checked..");
      document.getElementById("filtersample").style = "display:none";
    }
  });

  checkboxpair.addEventListener('change', function() {
    if (this.checked) {
      console.log("Checkbox is checked..");
      document.getElementById("filterpairs").style = "display:true";

    } else {
      console.log("Checkbox is not checked..");
      document.getElementById("filterpairs").style = "display:none";
    }
  });
          </script>
{% endblock js %}

