{% extends 'base.html' %}


 {% load static %}


 {% block body %}

 <section id="File List" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>You are not the owner of this session. You need to create a new session to run the analysis - You Shall Not Pass</h1>
          <p>Uh oh, Gandalf is blocking the way!<br/></p>
          <a class="btn btn-primary btn-lg btn-block" href="{% url 'new_session' %}">New session</a>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}